#subscribers {
    display:block;
    border:1px solid #111;
}
.dmst_chatRoom_shop_closed {
    background-color: red;
}
.dmst_chatRoom_shop_open {
    background-color: green;
}
.dmst_chatRoom_shop_standby {
    background-color: orange;
}
